# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# import packages and modifying output settings
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# Loading files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Creating Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merging datasets into one DataFrame
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Initial overview of DataFrame
school_data_complete.head()
school_data_complete.dtypes
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Total number of schools
school_total = school_data_complete['school_name'].nunique()
school_total

15

In [4]:
# Total number of students
student_total = school_data_complete['Student ID'].count()
student_total

39170

In [5]:
# Total budget
district_total_budget_calc = school_data_complete['budget'].unique()
district_total_budget = sum(district_total_budget_calc)
district_total_budget

24649428

In [6]:
# Average math score 
avg_math_score = round(school_data_complete['math_score'].mean(),2)
avg_math_score

78.99

In [7]:
# Average reading score
avg_read_score = round(school_data_complete['reading_score'].mean(),2)
avg_read_score

81.88

In [8]:
# Overall passing rate 
overall_pass_rate = round(((school_data_complete['math_score'].mean()) + 
                           (school_data_complete['reading_score'].mean())) / 2, 2)
overall_pass_rate

80.43

In [9]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass_calc = round(((school_data_complete['math_score'] >= 70).value_counts("True")) * 100, 2).tolist()
math_pass = math_pass_calc[0]
math_pass

74.98

In [10]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# use .tolist()
reading_pass_calc = round(((school_data_complete['reading_score'] >= 70).value_counts("True")) * 100, 2).tolist()
reading_pass = reading_pass_calc[0]
reading_pass

85.81

In [18]:
# Create a dataframe to hold the above results, with cleaner formatting 

# fix formatting later 


dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
                            'District Total Budget': district_total_budget,'Average Math Score':
                            avg_math_score,'Average Reading Score': avg_read_score,
                            'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
                            math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])
dataSummary1

,School Total,Student Total,District Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Math Passing Rate (score >= 70),Reading Passing Rate (score >= 70)
0,15,39170,24649428,78.99,81.88,80.43,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.