# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# import packages and modifying output settings
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# Loading files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Creating Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merging datasets into one DataFrame
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])

# Removing unnecessary columns
school_data_analysis = school_data_complete[['school_name','Student ID','grade',
                                             'reading_score','math_score',
                                             'School ID', 'type','size','budget']]
# Initial overview of DataFrame
school_data_analysis.head(3)
school_data_analysis.describe()


# stylistic note: _calc and _pre are my interim step variables 
# to make the variables I need

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
school_total = school_data_analysis['school_name'].nunique()
school_total

15

In [3]:
# Total number of students
student_total = school_data_analysis['Student ID'].count()
student_total

39170

In [4]:
# Total budget
district_total_budget = sum(school_data_analysis['budget'].unique())
district_total_budget

24649428

In [5]:
# Average math score 
avg_math_score = round(school_data_analysis['math_score'].mean(),2)
avg_math_score

78.99

In [6]:
# Average reading score
avg_read_score = round(school_data_analysis['reading_score'].mean(),2)
avg_read_score

81.88

In [7]:
# Overall passing rate 
overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
                           (school_data_analysis['reading_score'].mean())) / 2, 2)
overall_pass_rate

80.43

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass_calc = round(((school_data_analysis['math_score'] >= 70)
                        .value_counts("True")) * 100, 2).tolist()
math_pass = math_pass_calc[0]
math_pass

74.98

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# use .tolist()
reading_pass_calc = round(((school_data_analysis['reading_score'] >= 70)
                           .value_counts("True")) * 100, 2).tolist()
reading_pass = reading_pass_calc[0]
reading_pass

85.81

In [10]:
# Create a dataframe to hold the above results, with cleaner formatting 

dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
                            'District Total Budget': district_total_budget,'Average Math Score':
                            avg_math_score,'Average Reading Score': avg_read_score,
                            'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
                            math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])

In [11]:
# throwing keyword variable erros here

# dataSummary1["student_total"] = dataSummary1["student_total"].map("{:,}".format)
# dataSummary1['district_total_budget'] = dataSummary1['district_total_budget'].map("{:,}".format)
dataSummary1

,School Total,Student Total,District Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Math Passing Rate (score >= 70),Reading Passing Rate (score >= 70)
0,15,39170,24649428,78.99,81.88,80.43,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [29]:
# Making a groupby object based on school_name and type 
# and seeing the initial overview of this manipulated dataset

school_summary_grouped = school_data_analysis.groupby(['school_name','type'])
school_summary_grouped.head(1)
school_summary_grouped.describe()

,school_name,Student ID,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,0,9th,66,79,0,District,2917,1910635
2917,Figueroa High School,2917,10th,85,87,1,District,2949,1884411
5866,Shelton High School,5866,12th,70,91,2,Charter,1761,1056600
7627,Hernandez High School,7627,10th,70,88,3,District,4635,3022020
12262,Griffin High School,12262,11th,79,68,4,Charter,1468,917500
13730,Wilson High School,13730,10th,84,71,5,Charter,2283,1319574
16013,Cabrera High School,16013,11th,94,94,6,Charter,1858,1081356
17871,Bailey High School,17871,9th,75,59,7,District,4976,3124928
22847,Holden High School,22847,11th,86,92,8,Charter,427,248087
23274,Pena High School,23274,9th,91,75,9,Charter,962,585858
24236,Wright High School,24236,10th,89,72,10,Charter,1800,1049400
26036,Rodriguez High School,26036,11th,74,81,11,District,3999,2547363
30035,Johnson High School,30035,12th,87,87,12,District,4761,3094650
34796,Ford High School,34796,9th,66,94,13,District,2739,1763916
37535,Thomas High School,37535,10th,76,76,14,Charter,1635,1043130

                               School ID                                     \
                                   count  mean  std   min   25%   50%   75%
school_name           type
Bailey High School    District    4976.0   7.0  0.0   7.0   7.0   7.0   7.0
Cabrera High School   Charter     1858.0   6.0  0.0   6.0   6.0   6.0   6.0
Figueroa High School  District    2949.0   1.0  0.0   1.0   1.0   1.0   1.0
Ford High School      District    2739.0  13.0  0.0  13.0  13.0  13.0  13.0
Griffin High School   Charter     1468.0   4.0  0.0   4.0   4.0   4.0   4.0
Hernandez High School District    4635.0   3.0  0.0   3.0   3.0   3.0   3.0
Holden High School    Charter      427.0   8.0  0.0   8.0   8.0   8.0   8.0
Huang High School     District    2917.0   0.0  0.0   0.0   0.0   0.0   0.0
Johnson High School   District    4761.0  12.0  0.0  12.0  12.0  12.0  12.0
Pena High School      Charter      962.0   9.0  0.0   9.0   9.0   9.0   9.0
Rodriguez High School District    3999.0  11.0  0.0  11.0  11.0  11.0  11.0
Shelton High School   Charter     1761.0   2.0  0.0   2.0   2.0   2.0   2.0
Thomas High School    Charter     1635.0  14.0  0.0  14.0  14.0  14.0  14.0
Wilson High School    Charter     2283.0   5.0  0.0   5.0   5.0   5.0   5.0
Wright High School    Charter     1800.0  10.0  0.0  10.0  10.0  10.0  10.0

                                     Student ID            ...    \
                                 max      count     mean   ...
school_name           type                                 ...
Bailey High School    District   7.0     4976.0  20358.5   ...
Cabrera High School   Charter    6.0     1858.0  16941.5   ...
Figueroa High School  District   1.0     2949.0   4391.0   ...
Ford High School      District  13.0     2739.0  36165.0   ...
Griffin High School   Charter    4.0     1468.0  12995.5   ...
Hernandez High School District   3.0     4635.0   9944.0   ...
Holden High School    Charter    8.0      427.0  23060.0   ...
Huang High School     District   0.0     2917.0   1458.0   ...
Johnson High School   District  12.0     4761.0  32415.0   ...
Pena High School      Charter    9.0      962.0  23754.5   ...
Rodriguez High School District  11.0     3999.0  28035.0   ...
Shelton High School   Charter    2.0     1761.0   6746.0   ...
Thomas High School    Charter   14.0     1635.0  38352.0   ...
Wilson High School    Charter    5.0     2283.0  14871.0   ...
Wright High School    Charter   10.0     1800.0  25135.5   ...

                               reading_score          size               \
                                         75%   max   count    mean  std
school_name           type
Bailey High School    District          90.0  99.0  4976.0  4976.0  0.0
Cabrera High School   Charter           92.0  99.0  1858.0  1858.0  0.0
Figueroa High School  District          90.0  99.0  2949.0  2949.0  0.0
Ford High School      District          90.0  99.0  2739.0  2739.0  0.0
Griffin High School   Charter           91.0  99.0  1468.0  1468.0  0.0
Hernandez High School District          90.0  99.0  4635.0  4635.0  0.0
Holden High School    Charter           92.0  99.0   427.0   427.0  0.0
Huang High School     District          90.0  99.0  2917.0  2917.0  0.0
Johnson High School   District          90.0  99.0  4761.0  4761.0  0.0
Pena High School      Charter           92.0  99.0   962.0   962.0  0.0
Rodriguez High School District          90.0  99.0  3999.0  3999.0  0.0
Shelton High School   Charter           92.0  99.0  1761.0  1761.0  0.0
Thomas High School    Charter           92.0  99.0  1635.0  1635.0  0.0
Wilson High School    Charter           91.0  99.0  2283.0  2283.0  0.0
Wright High School    Charter           92.0  99.0  1800.0  1800.0  0.0


                                   min     25%     50%     75%     max
school_name           type
Bailey High School    District  4976.0  4976.0  4976.0  4976.0  4976.0
Cabrera High School   Charter   1858.0  1858.0  1858.0  1858.0  1858.0
Figueroa High School  District  2949.0  2949.0  2949.0  2949.0  2949.0
Ford High School      District  2739.0  2739.0  2739.0  2739.0  2739.0
Griffin High School   Charter   1468.0  1468.0  1468.0  1468.0  1468.0
Hernandez High School District  4635.0  4635.0  4635.0  4635.0  4635.0
Holden High School    Charter    427.0   427.0   427.0   427.0   427.0
Huang High School     District  2917.0  2917.0  2917.0  2917.0  2917.0
Johnson High School   District  4761.0  4761.0  4761.0  4761.0  4761.0
Pena High School      Charter    962.0   962.0   962.0   962.0   962.0
Rodriguez High School District  3999.0  3999.0  3999.0  3999.0  3999.0
Shelton High School   Charter   1761.0  1761.0  1761.0  1761.0  1761.0
Thomas High School    Charter   1635.0  1635.0  1635.0  1635.0  1635.0
Wilson High School    Charter   2283.0  2283.0  2283.0  2283.0  2283.0
Wright High School    Charter   1800.0  1800.0  1800.0  1800.0  1800.0

[15 rows x 48 columns]

In [35]:
# School Name and Type, making a series and converting to DataFrame

school_name_type_pre = school_summary_grouped.size()
school_name_type_pre

# convert to dataframe?
# school_name_type = pd.DataFrame(school_name_type_pre)
# school_name_type

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
# Total Students
total_students = pd.DataFrame(school_summary_grouped['school_name'].count())
total_students.rename(columns = {'school_name': 'Total Students'})

In [ ]:
# Total School Budget
total_budget_pre = pd.DataFrame(school_summary_grouped['budget'].value_counts())
total_budget = total_budget_pre.drop(['budget'], axis=1)
total_budget

In [ ]:
# Per Student Budget

per_student_budget = pd.DataFrame(total_budget / total_student) 
per_student_budget

In [ ]:
# Average Math Score
school_avg_math_score = pd.DataFrame(school_summary_grouped['math_score'].mean())
school_avg_math_score

In [ ]:
# Average Reading Score
school_avg_reading_score = pd.DataFrame(school_summary_grouped['reading_score'].mean())
school_avg_reading_score

In [ ]:
# % Passing Math

# need the appropriate conditional logic 
# use this as a guide
# school_math_pass_calc = round(((school_summary_grouped['math_score'] >= 70)
#                        .value_counts("True")) * 100, 2).tolist()

In [ ]:
# % Passing Reading
# school_reading_pass_calc

In [ ]:
# Overall Passing Rate (Average of the above two)

# use as guide 
# overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
#                            (school_data_analysis['reading_score'].mean())) / 2, 2)
# overall_pass_rate


# school_overall_passing_rate = (school_math_pass + school_reading_pass) / 2

In [ ]:
dataSummary2_1 = pd.merge(school_name, school_type, how='outer', on='School ID')
dataSummary2_1

# or base off of 
# dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
#                             'District Total Budget': district_total_budget,'Average Math Score':
#                             avg_math_score,'Average Reading Score': avg_read_score,
#                             'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
#                             math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# Top5Schools = school_summary_grouped.sort
# Top5Schools

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
# Bottom5Schools = school_summary_grouped.sort
# Bottom5Schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.