# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [64]:
# import packages and modifying output settings
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# Loading files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Creating Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merging datasets into one DataFrame
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])

# Removing unnecessary columns
school_data_analysis = school_data_complete[['school_name','Student ID','grade',
                                             'reading_score','math_score',
                                             'School ID', 'type','size','budget']]
# Initial overview of DataFrame
school_data_analysis.head(3)

# Printing a list of column names for reference
list(school_data_analysis)

# stylistic note: _calc and _pre are my interim step variables 
# to make the variables I need

,school_name,Student ID,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,0,9th,66,79,0,District,2917,1910635
1,Huang High School,1,12th,94,61,0,District,2917,1910635
2,Huang High School,2,12th,90,60,0,District,2917,1910635

['school_name',
 'Student ID',
 'grade',
 'reading_score',
 'math_score',
 'School ID',
 'type',
 'size',
 'budget']

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
school_total = school_data_analysis['school_name'].nunique()
school_total

15

In [3]:
# Total number of students
student_total = school_data_analysis['Student ID'].count()
student_total

39170

In [4]:
# Total budget
district_total_budget = sum(school_data_analysis['budget'].unique())
district_total_budget

24649428

In [5]:
# Average math score 
avg_math_score = round(school_data_analysis['math_score'].mean(),2)
avg_math_score

78.99

In [6]:
# Average reading score
avg_read_score = round(school_data_analysis['reading_score'].mean(),2)
avg_read_score

81.88

In [7]:
# Overall passing rate 
overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
                           (school_data_analysis['reading_score'].mean())) / 2, 2)
overall_pass_rate

80.43

In [8]:
# Percentage of students with a passing math score (70 or greater)
# .tolist() was useful here
math_pass_calc = round(((school_data_analysis['math_score'] >= 70)
                        .value_counts("True")) * 100, 2).tolist()
math_pass = math_pass_calc[0]
math_pass

74.98

In [9]:
# Percentage of students with a passing reading score (70 or greater)
reading_pass_calc = round(((school_data_analysis['reading_score'] >= 70)
                           .value_counts("True")) * 100, 2).tolist()
reading_pass = reading_pass_calc[0]
reading_pass

85.81

In [113]:
# Creating dataframe with the above datapoints

dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
                            'District Total Budget': district_total_budget,'Average Math Score':
                            avg_math_score,'Average Reading Score': avg_read_score,
                            'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
                            math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])
dataSummary1

,School Total,Student Total,District Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Math Passing Rate (score >= 70),Reading Passing Rate (score >= 70)
0,15,39170,24649428,78.99,81.88,80.43,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [112]:
# Creating a groupby object by school_name and type
# and getting initial overview
byschool_summary = school_data_analysis.groupby(['school_name','type'])
byschool_summary.head(1)

,school_name,Student ID,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,0,9th,66,79,0,District,2917,1910635
2917,Figueroa High School,2917,10th,85,87,1,District,2949,1884411
5866,Shelton High School,5866,12th,70,91,2,Charter,1761,1056600
7627,Hernandez High School,7627,10th,70,88,3,District,4635,3022020
12262,Griffin High School,12262,11th,79,68,4,Charter,1468,917500
13730,Wilson High School,13730,10th,84,71,5,Charter,2283,1319574
16013,Cabrera High School,16013,11th,94,94,6,Charter,1858,1081356
17871,Bailey High School,17871,9th,75,59,7,District,4976,3124928
22847,Holden High School,22847,11th,86,92,8,Charter,427,248087
23274,Pena High School,23274,9th,91,75,9,Charter,962,585858
24236,Wright High School,24236,10th,89,72,10,Charter,1800,1049400
26036,Rodriguez High School,26036,11th,74,81,11,District,3999,2547363
30035,Johnson High School,30035,12th,87,87,12,District,4761,3094650
34796,Ford High School,34796,9th,66,94,13,District,2739,1763916
37535,Thomas High School,37535,10th,76,76,14,Charter,1635,1043130

In [120]:
# Making a list of school names
school_names = byschool_summary.median().index.get_level_values(0).tolist()
school_names

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [97]:
# Making a list of school type
school_type = byschool_summary.median().index.get_level_values(1).tolist()
school_type

['District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'Charter']

In [99]:
# Getting list of school type to extract a list 
# of the number of students
school_type = byschool_summary['School ID'].count()
school_type

total_students = school_type.tolist()
total_students

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: School ID, dtype: int64

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [103]:
# Getting list of school budgets
school_budgets_pre = school_data_analysis.groupby(['school_name','budget'])
school_budgets = school_budgets_pre.median().index.get_level_values(1).tolist()
school_budgets

[3124928,
 1081356,
 1884411,
 1763916,
 917500,
 3022020,
 248087,
 1910635,
 3094650,
 585858,
 2547363,
 1056600,
 1043130,
 1319574,
 1049400]

list

In [110]:
# Getting the budget spent on each student

AttributeError: 'DataFrame' object has no attribute 'school_budgets'

In [40]:
s_avg_math = byschool_summary['math_score'].mean()
s_avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [42]:
s_avg_reading = byschool_summary['reading_score'].mean()
s_avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [45]:
# s_pass_math = 
# s_pass_math

(True    100.0
 Name: math_score, dtype: float64, 2)

In [ ]:
# s_pass_reading = 
# s_pass_reading

In [12]:


# Making a groupby object based on school_name and type and
# transforming these into a smaller dataframe

schoolname_type_group_pre = school_data_analysis.groupby(['school_name','type'])

# Getting the total of students as a series and converting to a DataFrame

schoolname_type_group_calc = schoolname_type_group_pre.size()

schoolname_type_df = pd.DataFrame(schoolname_type_group_calc)
schoolname_type_df

# Converting total_students to a list for later manipulations
total_students = schoolname_type_df[0].tolist()
total_students

                                   0
school_name           type
Bailey High School    District  4976
Cabrera High School   Charter   1858
Figueroa High School  District  2949
Ford High School      District  2739
Griffin High School   Charter   1468
Hernandez High School District  4635
Holden High School    Charter    427
Huang High School     District  2917
Johnson High School   District  4761
Pena High School      Charter    962
Rodriguez High School District  3999
Shelton High School   Charter   1761
Thomas High School    Charter   1635
Wilson High School    Charter   2283
Wright High School    Charter   1800

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [20]:
# Getting the school budget totals as a series making a series and converting to DataFrame

total_budget_pre = school_data_analysis.groupby(['school_name','budget'])
total_budget_calc = total_budget_pre.size()
total_budget_calc
school_budget_df = pd.DataFrame(total_budget_calc)

# Converting total_budgets to a list for later manipulations
total_budgets = school_budget_df
total_budgets

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
dtype: int64

                                  0
school_name           budget
Bailey High School    3124928  4976
Cabrera High School   1081356  1858
Figueroa High School  1884411  2949
Ford High School      1763916  2739
Griffin High School   917500   1468
Hernandez High School 3022020  4635
Holden High School    248087    427
Huang High School     1910635  2917
Johnson High School   3094650  4761
Pena High School      585858    962
Rodriguez High School 2547363  3999
Shelton High School   1056600  1761
Thomas High School    1043130  1635
Wilson High School    1319574  2283
Wright High School    1049400  1800

In [24]:
# Per Student Budget

per_student_budget =  total_students 
per_student_budget

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [29]:
# Average Math Score
school_avg_math_score_pre = school_data_analysis.groupby(['school_name'])
school_avg_math_score = school_avg_math_score_pre.mean()
school_avg_math_score

                                 Student ID  reading_score  School ID    size  \
school_name        math_score
Bailey High School 55          19997.077670      80.398058        7.0  4976.0
                   56          20223.057692      80.442308        7.0  4976.0
                   57          20297.915094      82.018868        7.0  4976.0
                   58          20455.466019      82.815534        7.0  4976.0
                   59          20298.657143      80.352381        7.0  4976.0
                   60          20313.644231      78.875000        7.0  4976.0
                   61          20416.007752      81.635659        7.0  4976.0
                   62          20345.521368      80.572650        7.0  4976.0
                   63          20616.869919      82.178862        7.0  4976.0
                   64          20310.685714      80.895238        7.0  4976.0
                   65          20176.869565      81.704348        7.0  4976.0
                   66          20015.581818      81.054545        7.0  4976.0
                   67          20664.076087      81.250000        7.0  4976.0
                   68          20505.830645      80.814516        7.0  4976.0
                   69          20478.398305      80.906780        7.0  4976.0
                   70          20435.107843      82.656863        7.0  4976.0
                   71          20343.663551      80.224299        7.0  4976.0
                   72          20383.512605      80.739496        7.0  4976.0
                   73          20424.871560      79.357798        7.0  4976.0
                   74          20172.725490      78.509804        7.0  4976.0
                   75          20510.247706      81.091743        7.0  4976.0
                   76          20349.815789      83.043860        7.0  4976.0
                   77          20369.258333      81.016667        7.0  4976.0
                   78          20474.245614      81.236842        7.0  4976.0
                   79          20741.894231      83.240385        7.0  4976.0
                   80          20391.073684      83.126316        7.0  4976.0
                   81          20458.830645      79.435484        7.0  4976.0
                   82          20534.824074      81.027778        7.0  4976.0
                   83          20216.735849      81.075472        7.0  4976.0
                   84          20324.396694      80.818182        7.0  4976.0
...                                     ...            ...        ...     ...
Wright High School 70          25142.781818      86.000000       10.0  1800.0
                   71          25020.604651      83.651163       10.0  1800.0
                   72          25014.577778      83.688889       10.0  1800.0
                   73          25088.333333      82.316667       10.0  1800.0
                   74          25092.833333      85.166667       10.0  1800.0
                   75          25144.000000      85.392157       10.0  1800.0
                   76          25258.919355      83.967742       10.0  1800.0
                   77          25092.734375      84.875000       10.0  1800.0
                   78          25066.722222      84.629630       10.0  1800.0
                   79          25169.622951      82.459016       10.0  1800.0
                   80          25186.018868      82.283019       10.0  1800.0
                   81          25046.775510      85.265306       10.0  1800.0
                   82          25079.103448      85.258621       10.0  1800.0
                   83          25054.342857      81.928571       10.0  1800.0
                   84          25260.015873      83.031746       10.0  1800.0
                   85          25122.946429      82.642857       10.0  1800.0
                   86          25215.944444      82.833333       10.0  1800.0
                   87          25103.285714      83.821429       10.0  1800.0
                   88          25153.094340      84.094340       10.0  1800.0
                   89          25263.944444      85.685185       10.0  1800.0
                   90          25219.945455      84.781818       10.0  1800.0
                   91          25127.716667      85.116667       10.0  1800.0
                   92          25213.882353      84.196078       10.0  1800.0
                   93          25079.244898      83.551020       10.0  1800.0
                   94          25061.539683      83.888889       10.0  1800.0
                   95          25037.145161      83.225806       10.0  1800.0
                   96          25117.482143      84.089286       10.0  1800.0
                   97          25266.181818      83.618182       10.0  1800.0
                   98          25130.411765      84.862745       10.0  1800.0
                   99          25118.449275      83.985507       10.0  1800.0

                                  budget
school_name        math_score
Bailey High School 55          3124928.0
                   56          3124928.0
                   57          3124928.0
                   58          3124928.0
                   59          3124928.0
                   60          3124928.0
                   61          3124928.0
                   62          3124928.0
                   63          3124928.0
                   64          3124928.0
                   65          3124928.0
                   66          3124928.0
                   67          3124928.0
                   68          3124928.0
                   69          3124928.0
                   70          3124928.0
                   71          3124928.0
                   72          3124928.0
                   73          3124928.0
                   74          3124928.0
                   75          3124928.0
                   76          3124928.0
                   77          3124928.0
                   78          3124928.0
                   79          3124928.0
                   80          3124928.0
                   81          3124928.0
                   82          3124928.0
                   83          3124928.0
                   84          3124928.0
...                                  ...
Wright High School 70          1049400.0
                   71          1049400.0
                   72          1049400.0
                   73          1049400.0
                   74          1049400.0
                   75          1049400.0
                   76          1049400.0
                   77          1049400.0
                   78          1049400.0
                   79          1049400.0
                   80          1049400.0
                   81          1049400.0
                   82          1049400.0
                   83          1049400.0
                   84          1049400.0
                   85          1049400.0
                   86          1049400.0
                   87          1049400.0
                   88          1049400.0
                   89          1049400.0
                   90          1049400.0
                   91          1049400.0
                   92          1049400.0
                   93          1049400.0
                   94          1049400.0
                   95          1049400.0
                   96          1049400.0
                   97          1049400.0
                   98          1049400.0
                   99          1049400.0

[571 rows x 5 columns]

In [ ]:
# Average Reading Score
school_avg_reading_score = pd.DataFrame(school_summary_grouped['reading_score'].mean())
school_avg_reading_score

In [ ]:
# % Passing Math

# need the appropriate conditional logic 
# use this as a guide
# school_math_pass_calc = round(((school_summary_grouped['math_score'] >= 70)
#                        .value_counts("True")) * 100, 2).tolist()

In [ ]:
# % Passing Reading
# school_reading_pass_calc

In [ ]:
# Overall Passing Rate (Average of the above two)

# use as guide 
# overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
#                            (school_data_analysis['reading_score'].mean())) / 2, 2)
# overall_pass_rate


# school_overall_passing_rate = (school_math_pass + school_reading_pass) / 2

In [55]:
dataSummary2_1 = pd.merge(total_students, total_budget, how='outer', on='school_name')
dataSummary2_1

# or base off of 
# dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
#                             'District Total Budget': district_total_budget,'Average Math Score':
#                             avg_math_score,'Average Reading Score': avg_read_score,
#                             'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
#                             math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])

NameError: name 'total_budget' is not defined

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# Top5Schools = school_summary_grouped.sort
# Top5Schools

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
# Bottom5Schools = school_summary_grouped.sort
# Bottom5Schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.