# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# import packages and modifying output settings
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# Loading files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Creating Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merging datasets into one DataFrame
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])

# Removing unnecessary columns
school_data_analysis = school_data_complete[['school_name','Student ID','grade',
                                             'reading_score','math_score',
                                             'School ID', 'type','size','budget']]
# Initial overview of DataFrame
school_data_analysis.head(3)

# Printing a list of column names for reference
list(school_data_analysis)

# stylistic note: _calc and _pre are my interim step variables 
# to make the variables I need

['school_name',
 'Student ID',
 'grade',
 'reading_score',
 'math_score',
 'School ID',
 'type',
 'size',
 'budget']

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
school_total = school_data_analysis['school_name'].nunique()
school_total

15

In [3]:
# Total number of students
student_total = school_data_analysis['Student ID'].count()
student_total

39170

In [4]:
# Total budget
district_total_budget = sum(school_data_analysis['budget'].unique())
district_total_budget

24649428

In [5]:
# Average math score 
avg_math_score = round(school_data_analysis['math_score'].mean(),2)
avg_math_score

78.99

In [6]:
# Average reading score
avg_read_score = round(school_data_analysis['reading_score'].mean(),2)
avg_read_score

81.88

In [7]:
# Overall passing rate 
overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
                           (school_data_analysis['reading_score'].mean())) / 2, 2)
overall_pass_rate

80.43

In [8]:
# Percentage of students with a passing math score (70 or greater)
# .tolist() was useful here
math_pass_calc = round(((school_data_analysis['math_score'] >= 70)
                        .value_counts("True")) * 100, 2).tolist()
math_pass = math_pass_calc[0]
math_pass

74.98

In [9]:
# Percentage of students with a passing reading score (70 or greater)
reading_pass_calc = round(((school_data_analysis['reading_score'] >= 70)
                           .value_counts("True")) * 100, 2).tolist()
reading_pass = reading_pass_calc[0]
reading_pass

85.81

In [10]:
# Creating dataframe with the above datapoints

dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
                            'District Total Budget': district_total_budget,'Average Math Score':
                            avg_math_score,'Average Reading Score': avg_read_score,
                            'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
                            math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])
dataSummary1

,School Total,Student Total,District Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Math Passing Rate (score >= 70),Reading Passing Rate (score >= 70)
0,15,39170,24649428,78.99,81.88,80.43,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [11]:
# Creating a groupby object by school_name and type
# and getting initial overview
byschool_summary = school_data_analysis.groupby(['school_name','type'])
byschool_summary.head(1)

,school_name,Student ID,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,0,9th,66,79,0,District,2917,1910635
2917,Figueroa High School,2917,10th,85,87,1,District,2949,1884411
5866,Shelton High School,5866,12th,70,91,2,Charter,1761,1056600
7627,Hernandez High School,7627,10th,70,88,3,District,4635,3022020
12262,Griffin High School,12262,11th,79,68,4,Charter,1468,917500
13730,Wilson High School,13730,10th,84,71,5,Charter,2283,1319574
16013,Cabrera High School,16013,11th,94,94,6,Charter,1858,1081356
17871,Bailey High School,17871,9th,75,59,7,District,4976,3124928
22847,Holden High School,22847,11th,86,92,8,Charter,427,248087
23274,Pena High School,23274,9th,91,75,9,Charter,962,585858
24236,Wright High School,24236,10th,89,72,10,Charter,1800,1049400
26036,Rodriguez High School,26036,11th,74,81,11,District,3999,2547363
30035,Johnson High School,30035,12th,87,87,12,District,4761,3094650
34796,Ford High School,34796,9th,66,94,13,District,2739,1763916
37535,Thomas High School,37535,10th,76,76,14,Charter,1635,1043130

In [12]:
# Making a list of school names
school_names = byschool_summary.median().index.get_level_values(0).tolist()
school_names

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [28]:
# Making a list of school type
school_type = byschool_summary.median().index.get_level_values(1).tolist()
school_type

['District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'Charter']

In [14]:
# Getting list of school type to extract a list 
# of the number of students
school_type = byschool_summary['School ID'].count()
school_type

total_students = school_type.tolist()
total_students

total_students_1 = np.asarray(total_students)

# total_students_1 = total_students.np.asarray
# total_students_1

total_students_1
type(total_students_1)



# convert from list to np.array
# to run divisions

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: School ID, dtype: int64

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

array([4976, 1858, 2949, 2739, 1468, 4635,  427, 2917, 4761,  962, 3999,
       1761, 1635, 2283, 1800])

numpy.ndarray

In [15]:
# Getting list of school budgets
school_budgets_pre = school_data_analysis.groupby(['school_name','budget'])
school_budgets = school_budgets_pre.median().index.get_level_values(1).tolist()
school_budgets

school_budgets_1 = np.asarray(school_budgets)
school_budgets_1

[3124928,
 1081356,
 1884411,
 1763916,
 917500,
 3022020,
 248087,
 1910635,
 3094650,
 585858,
 2547363,
 1056600,
 1043130,
 1319574,
 1049400]

array([3124928, 1081356, 1884411, 1763916,  917500, 3022020,  248087,
       1910635, 3094650,  585858, 2547363, 1056600, 1043130, 1319574,
       1049400])

In [16]:
# Getting the budget spent on each student 
# np.array 
# can't divide using lists 

school_budgets_1 / total_students_1

array([628., 582., 639., 644., 625., 652., 581., 655., 650., 609., 637.,
       600., 638., 578., 583.])

In [17]:
s_avg_math = byschool_summary['math_score'].mean()
s_avg_math

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [18]:
s_avg_reading = byschool_summary['reading_score'].mean()
s_avg_reading

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [19]:
# s_pass_math = 
# s_pass_math

In [20]:
# s_pass_reading = 
# s_pass_reading

In [21]:


# Making a groupby object based on school_name and type and
# transforming these into a smaller dataframe

schoolname_type_group_pre = school_data_analysis.groupby(['school_name','type'])

# Getting the total of students as a series and converting to a DataFrame

schoolname_type_group_calc = schoolname_type_group_pre.size()

schoolname_type_df = pd.DataFrame(schoolname_type_group_calc)
schoolname_type_df

# Converting total_students to a list for later manipulations
total_students = schoolname_type_df[0].tolist()
total_students

                                   0
school_name           type
Bailey High School    District  4976
Cabrera High School   Charter   1858
Figueroa High School  District  2949
Ford High School      District  2739
Griffin High School   Charter   1468
Hernandez High School District  4635
Holden High School    Charter    427
Huang High School     District  2917
Johnson High School   District  4761
Pena High School      Charter    962
Rodriguez High School District  3999
Shelton High School   Charter   1761
Thomas High School    Charter   1635
Wilson High School    Charter   2283
Wright High School    Charter   1800

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [22]:
# Getting the school budget totals as a series making a series and converting to DataFrame

total_budget_pre = school_data_analysis.groupby(['school_name','budget'])
total_budget_calc = total_budget_pre.size()
total_budget_calc
school_budget_df = pd.DataFrame(total_budget_calc)

# Converting total_budgets to a list for later manipulations
total_budgets = school_budget_df
total_budgets

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
dtype: int64

                                  0
school_name           budget
Bailey High School    3124928  4976
Cabrera High School   1081356  1858
Figueroa High School  1884411  2949
Ford High School      1763916  2739
Griffin High School   917500   1468
Hernandez High School 3022020  4635
Holden High School    248087    427
Huang High School     1910635  2917
Johnson High School   3094650  4761
Pena High School      585858    962
Rodriguez High School 2547363  3999
Shelton High School   1056600  1761
Thomas High School    1043130  1635
Wilson High School    1319574  2283
Wright High School    1049400  1800

In [23]:
# Per Student Budget

per_student_budget =  total_students 
per_student_budget

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [24]:
# Average Math Score
school_avg_math_score_pre = school_data_analysis.groupby(['school_name'])
school_avg_math_score = school_avg_math_score_pre.mean()
school_avg_math_score

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [25]:
# Average Reading Score
school_avg_reading_score = pd.DataFrame(school_data_analysis['reading_score']).mean())
school_avg_reading_score

SyntaxError: invalid syntax (<ipython-input-25-6e6287c65b71>, line 2)

In [ ]:
# % Passing Math

# need the appropriate conditional logic 
# use this as a guide
# school_math_pass_calc = round(((school_summary_grouped['math_score'] >= 70)
#                        .value_counts("True")) * 100, 2).tolist()

In [ ]:
# % Passing Reading
# school_reading_pass_calc

In [ ]:
# Overall Passing Rate (Average of the above two)

# use as guide 
# overall_pass_rate = round(((school_data_analysis['math_score'].mean()) + 
#                            (school_data_analysis['reading_score'].mean())) / 2, 2)
# overall_pass_rate


# school_overall_passing_rate = (school_math_pass + school_reading_pass) / 2

In [ ]:
dataSummary2_1 = pd.merge(total_students, total_budget, how='outer', on='school_name')
dataSummary2_1

# or base off of 
# dataSummary1 = pd.DataFrame({'School Total': school_total, 'Student Total': student_total,
#                             'District Total Budget': district_total_budget,'Average Math Score':
#                             avg_math_score,'Average Reading Score': avg_read_score,
#                             'Overall Passing Rate': overall_pass_rate, 'Math Passing Rate (score >= 70)':
#                             math_pass, 'Reading Passing Rate (score >= 70)': reading_pass},index=[0])

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# Top5Schools = school_summary_grouped.sort
# Top5Schools

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
# Bottom5Schools = school_summary_grouped.sort
# Bottom5Schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.