In [1]:
% matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyber_data_analysis = pd.merge(ride_data, city_data, how='left',on=['city','city'])

# Display the data table for preview
pyber_data_analysis.head(3)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban

In [10]:
# Finding totals to use in the percentages below 
pyber_rides_total = len(pyber_data_analysis)
pyber_rides_total
pyber_fares_total = round(sum(pyber_data_analysis['fare']),2)
pyber_fares_total
pyber_drivers_total = round(sum(pyber_data_analysis['driver_count']),2)
pyber_drivers_total

# Making a groupby type from the dataframe
pyber_calc = pyber_data_analysis.groupby(['type'])
pyber_calc.head(1)

2375

63538.64

68709

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1625,Barronchester,2018-01-27 03:08:01,27.79,6653622887913,11,Suburban
2250,Randallchester,2018-04-13 11:13:31,43.22,1076079536213,9,Rural

['fare', 'ride_id', 'driver_count']

In [12]:
pyber_fare_sum = pyber_calc.sum()[('fare')]
pyber_fare_sum # total fares by city type
# gotta get the order as a list, pull to practice, instead of just typing out as a list

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

pandas.core.series.Series

In [4]:
pyber_fare_avg = pyber_calc.mean()[('fare')]
pyber_fare_avg # average fare per city type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [5]:
pyber_rides = pyber_calc.count()[('fare')] 
pyber_rides # number of rides per city type

type
Rural        125
Suburban     625
Urban       1625
Name: fare, dtype: int64

In [6]:
pyber_drivers = pyber_calc.sum()[('driver_count')]
pyber_drivers

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
When making your Bubble Plot, experiment with effects like alpha, edgecolor, and linewidths.
When making your Pie Chart, experiment with effects like shadow, startangle, and explosion.

## Bubble Plot of Ride Sharing Data

In [11]:
#  x and y coordinates for urban, suburban, and rural
# x_urban
# y_urban
# x_suburban
# y_suburban
# x_rural
# y_rural

# Build the scatter plots for each city type


# plt.scatter(x, y, s=z*1000, alpha=0.5)
# plt.show()

# Incorporate the other graph properties

# plt.xlim(-0.75, len(x_axis))
# plt.ylim(0, max(rain_df["Inches"])+10)
# plt.title("PyberX Ride Share Data (2016)")
# plt.xlabel("Total Number of Rides Per City")
# plt.ylabel("Average Fare ($)")

# Create a legend



# Incorporate a text label regarding circle size



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# # Labels for the sections of our pie chart
# labels = ["Rural", "Suburban", "Urban"]
# # The values of each section of the pie chart
# sizes = [pyber_rides]
# # The colors of each section of the pie chart
# colors = ["Gold", "Light Sky Blue", "Light Coral"]
# # Tells matplotlib to seperate the "Python" section from the others
# explode = (0.1, 0, 0, 0)

# # Creates the pie chart based upon the values above
# # Automatically finds the percentages of each part of the pie chart
# plt.pie(sizes, explode=explode, labels=labels, colors=colors,
#         autopct="%1.1f%%", shadow=True, startangle=140)

# # Tells matplotlib that we want a pie chart with equal axes
# plt.axis("equal")

In [ ]:
# Calculate Type Percents



# Build Pie Chart

# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# use the values from pyber_citytype.count() to determine percentages


# Calculate Ride Percents



# Build Pie Chart



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# pyber_drivers.count() ?

# Build Pie Charts



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

Three observable trends based on data:
- A
- B
- C