In [23]:
% matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyber_data_analysis = pd.merge(ride_data, city_data, how='left',on=['city','city'])

# Display the data table for preview
pyber_data_analysis.head(5)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [22]:
# Getting a feel for the data

len(pyber_data_analysis)
pyber_data_analysis.describe()
pyber_calc = pyber_data_analysis.groupby(['type'])
pyber_calc.mean()[('fare')] # average fare per city type 
pyber_calc.count()[('fare')] # number of rides per city type
pyber_drivers = pyber_data_analysis.groupby(['type','driver_count'])
pyber_drivers.sum() # need to get this summed by city type, and also need to get the total fare sum to generate percentage

2375

              fare       ride_id  driver_count
count  2375.000000  2.375000e+03   2375.000000
mean     26.753112  4.887270e+12     28.930105
std      12.109465  2.907361e+12     20.666306
min       4.050000  3.218337e+08      1.000000
25%      17.190000  2.381175e+12     11.000000
50%      26.600000  4.748541e+12     23.000000
75%      36.645000  7.461936e+12     45.000000
max      58.550000  9.991538e+12     73.000000

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

type
Rural        125
Suburban     625
Urban       1625
Name: fare, dtype: int64

                          fare          ride_id
type     driver_count
Rural    1             1198.02  161026304704703
         2              546.35   88294250807369
         4              711.98  102848482118341
         6              596.20   63005843649500
         7              864.50  105885856111771
         8              262.17   36984150808683
         9              148.71   22923352140920
Suburban 1             1161.01  156831445259977
         2              862.70  156038694744833
         3              370.68   49081863855912
         4             1967.42  327432139509343
         5              832.55  160651910229777
         7             1290.36  204393917633372
         10            1025.09  166825896713784
         11             962.91  146013820848056
         12             620.50   96833628786816
         14             522.92  103870079873040
         16             388.92   68255257555809
         17             615.16  113862823646203
         19            1070.53  137980997869489
         20            2468.31  377365886785248
         21             686.85  121495009458897
         22            1522.79  247855785339720
         23            2100.46  351149619387637
         25             887.17  120945745078853
Urban    3              506.14   85410290670784
         4             1008.35  192547050530583
         5             1330.92  243666039617312
         6              796.03  177338946240910
         7              568.81  102475001081698
...                        ...              ...
         26             557.31  102893297406279
         27             562.50  111185644908244
         28             647.75  143956504841413
         32             634.95  120575727473731
         33            1433.83  306088401962093
         34             658.19  114390023720364
         36             724.96  158223814198291
         37             994.73  156532913024052
         38            1512.16  297250459481323
         39            2046.91  378795612682081
         41             661.55  123722295302015
         44            1005.45  201976250707630
         45            1106.73  229685343707796
         46             968.32  183705432385928
         47             569.50  115407302966537
         48            1013.61  188844411918986
         49             491.01   93128654434912
         50             481.78   87725991968861
         52             764.49  139991078502567
         57            1109.03  238642405824003
         58             571.42  118211441343636
         59            1063.92  197645252599931
         61             630.53  104056055385314
         64            1258.35  275647472153353
         65             688.98  134119599577943
         67             869.37  204946120697875
         69             862.95  151990590391980
         70             742.10  140833843748973
         72             758.00  146554371018588
         73             544.19  114168507564959

[70 rows x 2 columns]

You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
When making your Bubble Plot, experiment with effects like alpha, edgecolor, and linewidths.
When making your Pie Chart, experiment with effects like shadow, startangle, and explosion.

## Bubble Plot of Ride Sharing Data

In [ ]:
#  x and y coordinates for urban, suburban, and rural
x_urban
y_urban
x_suburban
y_suburban
x_rural
y_rural

# Build the scatter plots for each city type


# plt.scatter(x, y, s=z*1000, alpha=0.5)
# plt.show()

# Incorporate the other graph properties

# plt.xlim(-0.75, len(x_axis))
# plt.ylim(0, max(rain_df["Inches"])+10)
# plt.title("PyberX Ride Share Data (2016)")
# plt.xlabel("Total Number of Rides Per City")
# plt.ylabel("Average Fare ($)")

# Create a legend



# Incorporate a text label regarding circle size



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# For reference




# # Labels for the sections of our pie chart
# labels = ["Humans", "Smurfs", "Hobbits", "Ninjas"]
# # The values of each section of the pie chart
# sizes = [220, 95, 80, 100]
# # The colors of each section of the pie chart
# colors = ["red", "orange", "lightcoral", "lightskyblue"]
# # Tells matplotlib to seperate the "Python" section from the others
# explode = (0.1, 0, 0, 0)

# # Creates the pie chart based upon the values above
# # Automatically finds the percentages of each part of the pie chart
# plt.pie(sizes, explode=explode, labels=labels, colors=colors,
#         autopct="%1.1f%%", shadow=True, startangle=140)

# # Tells matplotlib that we want a pie chart with equal axes
# plt.axis("equal")

In [ ]:
# Calculate Type Percents



# Build Pie Chart

# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# use the values from pyber_citytype.count() to determine percentages


# Calculate Ride Percents



# Build Pie Chart



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# pyber_drivers.count() ?

# Build Pie Charts



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

Three observable trends based on data:
- A
- B
- C