In [17]:
% matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyber_data_analysis = pd.merge(ride_data, city_data, how='left',on=['city','city'])

# Display the data table for preview
pyber_data_analysis.head(5)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
When making your Bubble Plot, experiment with effects like alpha, edgecolor, and linewidths.
When making your Pie Chart, experiment with effects like shadow, startangle, and explosion.

## Bubble Plot of Ride Sharing Data

In [ ]:
#  x and y coordinates for urban, suburban, and rural
x_urban
y_urban
x_suburban
y_suburban
x_rural
y_rural


# Build the scatter plots for each city type




# plt.scatter(x, y, s=z*1000, alpha=0.5)
# plt.show()


# Incorporate the other graph properties


# plt.xlim(-0.75, len(x_axis))
# plt.ylim(0, max(rain_df["Inches"])+10)
# plt.title("PyberX")
# plt.xlabel("Number of Drivers")
# plt.ylabel("Fare")

# Create a legend



# Incorporate a text label regarding circle size



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents



# Build Pie Chart



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents



# Build Pie Chart



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents



# Build Pie Charts



# Save Figure
# plt.tight_layout()
# plt.savefig("../Images/avg_state_rain.png")

In [ ]:
# Show Figure
plt.show()

Three observable trends based on data: