# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Installing citipy via jupyter notebook
# to determine city based on latitude and longitude
# ! pip install citipy

In [1]:
# Importing packages and API key
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
from citipy import citipy
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Remember to enter in the cell twice for this to work
from weatherweatherlang import owm_key

# Creating variables for csv output and range for latitude and longitude
output_data_file = "output_data/cities.csv"
lat_range = (-90, 90)
lng_range = (-180, 180)

# Creating lists for holding lat_lngs, cities, and country codes
lat_lngs = []
cities = []
countries = []

## Generate Cities List

In [2]:
# When running, need to reset everything so that we're 
# not generating too many API calls

# Creating a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identifing nearest city for each lat, lng combination
# (Using functions and variables already defined in citipy)
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    country = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
# Making sure that duplicate cities are not added by making
# appends conditional
    if city not in cities:
        cities.append(city)
        countries.append(country)

# Printing the city count to confirm sufficient 
# count for JSON requests
len(cities)

621

In [6]:
# Making an initial dataframe for these pairings
citiweather_df = pd.DataFrame({'city':cities, 'country_code':countries})

# Checking if city-country code pairings are accurate
citiweather_df.head(3)
citiweather_df.tail(3)

# Adding additional columns to dataframe to add from later OWM requests
citiweather_df['Lat'] = ""
citiweather_df['Lng'] = ""
citiweather_df['Date'] = ""
citiweather_df['Max Temp'] = ""
citiweather_df['Humidity'] = ""
citiweather_df['Cloudiness'] = ""
citiweather_df['Wind Speed'] = ""
citiweather_df.head(3)

         city country_code
0  bredasdorp           za
1   cape town           za
2     ushuaia           ar

              city country_code
618          zabol           ir
619         warqla           dz
620  puerto pailas           bo

,city,country_code,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed
0,bredasdorp,za,,,,,,,
1,cape town,za,,,,,,,
2,ushuaia,ar,,,,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
# Building OWM endpoint url by searching for cityID per OWM search
# recommendations; making sure to make units imperial to get 
# Fahrenheit temperature and miles per hour wind speed
# (Refer back to https://openweathermap.org/current for parameters)

owm_url = ('http://api.openweathermap.org/data/2.5/weather?q={0},{1}&units=imperial&APPID={2}').format(cities,countries,owm_key)
owm_response = requests.get(owm_url).json()

In [ ]:
# Building the JSON request string by searching with city
# and country code pairs, and a print log of each city as
# the JSON is being processed




# or print(json.dumps(weather_call, indent=4, sort_keys=True))

In [ ]:
# grab data using params 


# grabbing temp ['main'][0] in Farhenheit #temperature
# ['main'][2] #humidity
# ['clouds'][0] #clouds, all, whatever this means
# ['wind'][0] # wind speed

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot